<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
    <div class="mx-auto max-w-4xl">
      <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
        Frequently asked questions
      </h2>
      <dl class="mt-10 divide-y divide-gray-900/10">
        @for (faq of faqs(); track faq.question; let i = $index) {
        <div class="py-6">
          <dt>
            <button
              type="button"
              (click)="toggle(i)"
              class="flex w-full items-start justify-between text-left text-gray-900"
              [attr.aria-expanded]="faq.isOpen"
            >
              <span class="text-base/7 font-semibold">{{ faq.question }}</span>
              <span class="ml-6 flex h-7 items-center">
                @if (faq.isOpen) {
                <svg
                  class="size-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
                } @else {
                <svg
                  class="size-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                }
              </span>
            </button>
          </dt>
          @if (faq.isOpen) {
          <dd class="mt-2 pr-12">
            <p class="text-base/7 text-gray-600">{{ faq.answer }}</p>
          </dd>
          }
        </div>
        }
      </dl>
    </div>
  </div>
</div>
